<div class="home-component">

    <h1>{{ 'faq-title' | translate }}</h1>

    <p style="margin-bottom: .0001pt;"><strong><span style="font-size: 12.0pt; line-height: 100%;">How do I post my ads?</span></strong></p>
    <ol>
    <li><span style="font-size: 12pt;">Click on "Post an ad" at the top right corner.</span></li>
    <li><span style="font-size: 12pt;">Fill out the form , every information must be filled in before submitting it. To sell more than one book in an ad please click on "add another field", to delete extra books please click "delete field".</span></li>
    <li><span style="font-size: 12pt;">Click "Post ad" and it's done.</span></li>
    </ol>
    <p style="margin-bottom: .0001pt;"><strong><span style="font-size: 12.0pt; line-height: 100%;">How do I sell or buy books?</span></strong></p>
    <p style="margin-bottom: .0001pt;"><span style="font-size: 12.0pt; line-height: 100%;">All we serve is as an agent for buyer and seller to meet get in contact. So users have to physically meet with your client or seller to make your purchase. We hold no liability and responsibility for any actions or results or adverse situations happening between buyers and sellers.</span></p>
    <p style="margin-bottom: .0001pt;"><strong><span style="font-size: 12.0pt; line-height: 100%;">What do I do after I sold my books?</span></strong></p>
    <p style="margin-bottom: .0001pt;"><span style="font-size: 12.0pt; line-height: 100%;">Select the three vertical dots at the top right corner. A drop-down box is shown, select &ldquo;Update email &amp; ads&rdquo;. At the top bar select &ldquo;update ads&rdquo; and select &ldquo;delete ad&rdquo; for the ads you wanted to delete.</span></p>   
    <p style="margin-bottom: .0001pt;"><strong><span style="font-size: 12.0pt; line-height: 100%;">What if I changed my e-mail?</span></strong></p>
    <p style="margin-bottom: .0001pt;"><span style="font-size: 12.0pt; line-height: 100%;">Select the three vertical dots at the top right corner. A drop-down box is shown, select &ldquo;Update email &amp; ads&rdquo;. Fill in the form to update it.</span></p>
    <p style="margin-bottom: .0001pt;"><strong><span style="font-size: 12.0pt; line-height: 100%;">What if there are no books I wanted?</span></strong></p>
    <p style="margin-bottom: .0001pt;"><span style="font-size: 12.0pt; line-height: 100%;">If there are no books you wanted in the present, I will have in the near future.</span></p>
    <p style="margin-bottom: .0001pt;"><strong><span style="font-size: 12.0pt; line-height: 100%;">Do you earn money from us?</span></strong></p>
    <p style="margin-bottom: .0001pt;"><span style="font-size: 12.0pt; line-height: 100%;">No, totally not.</span></p>
    <p style="margin-bottom: .0001pt;"><strong><span style="font-size: 12.0pt; line-height: 100%;">Hey, my question is not listed in FAQ.</span></strong></p>
    <p style="margin-bottom: .0001pt;"><span style="font-size: 12.0pt; line-height: 100%;">Go to &ldquo;contact us&rdquo; and e-mail us, we&rsquo;ll respond to you asap.</span></p>
</div>