<div class="home-component">


  <mdc-card #allTheseThings id="info">
  
      <mdc-card-media class="card__16-9-media">
      </mdc-card-media>
      <div>
      <div class="card-wrapper">
          <form #captchaProtectedForm="ngForm">
          
            <mdc-text-field #emailField [outline]="true" label="Email" name="email" [(ngModel)]="email" type="email" [required]="true" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [disabled]="false" [dense]="false" (change)="checkField(email, 'email')"></mdc-text-field>
            <p mdc-text-field-helper-text [validation]="true" [persistent]="isEmpty">{{ emailHelper }}</p>
            
            <mdc-text-field #passwordField [outline]="true"label="Password" name="password" [(ngModel)]="password" type="password" [required]="true" [disabled]="false" [dense]="false" (change)="checkField(password, 'password')"></mdc-text-field>
            <p mdc-text-field-helper-text [validation]="true" [persistent]="isEmpty">{{ passwordHelper }}</p>

            <mdc-form-field [alignEnd]="false">
              <mdc-checkbox #checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="myModel" [indeterminate]="false"
              [indeterminateToChecked]="false"
              [disabled]="false" [disableRipple]="false">
            </mdc-checkbox>
              <label>Stay logged in</label>
            </mdc-form-field>

              <re-captcha
              [(ngModel)]="formModel.captcha"
              name="captcha"
              required
              siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"
              #captchaControl="ngModel"
            ></re-captcha>
            
            <mdc-card-actions >
              <button #formButton [primary]="true" [raised]="true" [disabled]="!captchaProtectedForm.form.valid || !captchaControl.valid || !emailField.valid || !isFormValid" mdc-card-button class="mdc-card__submit-actions" (click)="getPost()">Login</button>
              <button mdc-card-button class="mdc-card__submit-actions" style="left: 6em" (click)="getPost()">Need Help?</button>
            </mdc-card-actions>
          </form>
      </div>
    </div>
      
    </mdc-card>
  
  </div>
  