<div class="home-component">

  <div class="text-wrapper">
    <h1>{{ 'contact-title' | translate }}</h1>

    <p>For any business or personal inquiries related to our website, please kindly contact us at <a href="mailto:inquiries@ogiebooks.com">inquiries@ogiebooks.com</a>.&nbsp;</p>
    <p>For any emergency issues related to our website, plese contact <a href="mailto:help@ogiebooks.com">help@ogiebooks.com</a>.&nbsp;</p>
    <p>We promise you will receive a response from us as soon as possible once we manage to sort out the matter, thank you for your cooperation.</p>
  </div>
</div>