.home-component
    padding: 3em 1em 3em 1em;

mdc-card-primary
    display: block;
    position: relative;

.mdc-card__title-head
    font-size: 0.875rem;
    font-weight: 700;
    margin-left: 56px;
    line-height: 1.5rem;
    padding-top: 0 !important;

.mdc-card__subtitle-head
    margin-left: 56px;

.card__16-9-media
    background-color: #da4932;
    height: 12.313rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 840px;
    position: relative;

.card-wrapper
    width: 30%; 
    position: absolute; 
    left: 30%;
    height: 840px;

.card-wrapper2
    left: 65%;

.select-subject
    width: 30% !important;
    display: inline-flex !important;
    top: 0.75em;
    margin-left: 1.5em;
    position: relative;

.selected-subject
    top: 0.15em;

.book-add
    padding-bottom: 1em;

.upload-button
    min-width: 36px !important;
    padding: 0 !important;

.upload-button .upload-icon
    margin-right: 0 !important;

mdc-form-field
    display: flex;

.mdc-title-userimg
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background: #bdbdbd;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

.mdc-card__submit-actions
    bottom: 0.5em;
    position: absolute;

@media (min-width:1281px)
    .home-component
        padding: 8em 3em 4em 3em;

.app-ad-section
    height: auto;
    width: 100%;
    display: block;
    transition: all 0.5s ease-out
    position: absolute;

.page-scroll-header
    height: 168px;
    opacity: 0;
    visibility: hidden;

mdc-select
    width: 100% !important;
    margin: 0.5em 0;

.mdc-card__supporting-text
    padding: 0 !important;

.ad-rating-icon
    font-size: 0.675rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.25rem;
    width: 0.875rem;

.ad-cond-desc
    display: inline-block;
    margin: 0;

.contact
    margin: 0;

.contact2
    margin: 0;
    display: inline-block;

.numbertext
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;

.slide1
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: grey;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

.app-ad-content 
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
.swiper-container 
    width: 100%;
    height: 615px;

.swiper-slide
    display: grid;
    background-color: grey;
    position: relative;

mdc-text-field-label
    top: unset !important;

.mdc-text-field
    width: 100%;
    display: flex !important;